// background colors
.bg-white{
    background-color: #fff !important;
}
.bg-blue{
    background-color: blue !important;
}
.bg-red{
    background-color: red !important;
}
.bg-green{
    background-color: green !important;
}
.bg-yellow{
    background-color: yellow !important;
}
.bg-trans{
    background-color: transparent !important
}
// common color
.text-white{
    color: $text-white !important;
}
.text-red{
    color: red !important;
}
.text-pink{
    color: $text-pink !important;
}
// text color gradient pink
.r-pink{
    @include ravkoo-color(r_pink);
}
.img-full{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    &.bg-img{
        position: absolute;
        left:0;
        top:0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        user-select: none;
    }
}
// section padding
.sec-p{
    @media only screen and (min-width: 1200px) {
        padding-top: var(--pad-top-bottom);
        padding-bottom: var(--pad-top-bottom);     
    }
    @media only screen and (max-width: 1199px) {
        padding-top: var(--pad-top-bottom);
        padding-bottom: var(--pad-top-bottom);  
    }
    @media only screen and (max-width: 767px) {
        padding-top: var(--pad-top-bottom);
        padding-bottom: var(--pad-top-bottom); 
    }
}


// SECTION NO. 5 
// Our Best SELLERS START 
@mixin obs-title-style {
    font-size: 15px;
    line-height: 27px;
    font-family: $font-oswald;
    font-weight: 400;
    color: $text-black;
    letter-spacing: 0.09px;
    @media only screen and (max-width: 767px) {
        font-size: 12px;
    }
}


// tooltip
// .tooltip > .tooltip-inner {
//     background-color: $bg-pink; 
//     color: $text-white; 
//     border: 1px solid $border-pink; 
//     padding: 5px;
//     font-size: 16px;
// }
// .tooltip > .tooltip-arrow {
//     border-color: $border-pink; 
// }